@model Visitel.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleNameInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleNameInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternatePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternatePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVerifiedReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVerifiedReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignedJobDescriptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignedJobDescriptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceVerificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceVerificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrientationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrientationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyOrProcedureSettlementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyOrProcedureSettlementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTaskEvaluationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTaskEvaluationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrimcheckDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimcheckDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEvaluationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEvaluationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RehireYesNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RehireYesNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIGDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIGDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIGResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIGResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIGReportedToStateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIGReportedToStateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASGN_EMP_SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASGN_EMP_SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SantraxEmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SantraxEmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SantraxCDSPayrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SantraxCDSPayrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SantraxGPSPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SantraxGPSPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SantraxDiscipline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SantraxDiscipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SantraxStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SantraxStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorEmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorEmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
